*{
    text-decoration: none;
}

.navbar{
  background:rgb(12, 10, 5); font-family:calibri; padding-left: 15px;padding-right: 32px;margin-top: 19px;
}
.navdiv{
  display:flex; justify-content:space-between; align-items:center;
}
.box{
     background: transparent; font-size: 30px; display: flex; gap: 60px;margin:0px;
}
.box1:hover{
    scale:1.1;
}

li{
    list-style: none; display: inline-block; padding: px; color:white;
}
li a{
    color:white;font-weight: bold;
}
/* button{
   font-size: large; width:90px;background-color: trasparent ;margin-left:0px;border-radius: 25pc
   ;border-color: rgb(29, 188, 188);
   cursor:pointer;
} */
button a{
   font-weight: bold;font-size: 50%; ;
}
.logo{
    font-size: 30px; font-weight: bold; 
}
.logo a{
 font-size: 50px;font-weight: bold;color: rgb(232, 240, 244);
}
body{
    background-color: #0d0a05;font-family: 'Inter', sans-serif;
}
.logo img{
  height: 20px;
  width: auto;           
}
.first{
    color: white;
    font-size: 60px;
    margin-top:250px;
}
.second{
    color: white;
    font-size: 40px;
    margin-top:-70px;
}

footer{
    color: white;
    margin-top: 400px;
}
.salesbutton{
   background-color: white;
   border-radius: 50px;
   font-size: xx-large;
    padding: 10px 20px;
    cursor: pointer;
}
.signin{
     border-radius: 50px;
     font-size: xx-large;
     background:transparent;
     cursor: pointer;
     color: white;;

        }
.signup{
        border-radius: 50px;
        font-size: xx-large;
        cursor: pointer;
}
.fourth{
    color:grey;
    font-size: 30px;
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
}
.fiveth{
    color: white;
    font-size: 15px;
    margin-top: 10px;
    text-align:left
}
.logos{
    color: white;
}
.logos{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 60px;
    
}

.logos div{
    color: white;
    font-size:30px;
    font-weight: 600;
    color: grey
}

.logo-card1:hover{
    scale:1.1;
 
}
.logo-card1{
      background: #161414;
    border-radius: 11px;
    height: 140px;
    width:180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-weight: 600;
    transition: 0.3s ease;
    margin: -10px 0px 0px 0px;
     transition: 0.3s ease;
}
